#play{
    background: var(--primary-color);
    width: 100vw;
    min-height: 100vh;
    color: white;
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        height: 10vh;
        h1{
            font-size: 2rem;
            font-weight: 900;
        }
        span{
            h1{
                font-size: 1rem;
                text-align: center;
                color: rgba(255,255,255,.7);
                // background: var(--purple);
                padding: .5rem;
                font-weight: 600;
                border-radius: 15px;
            }
        }
        .back-another{
            color: rgba(255,255,255,.7);
            font-size: .8rem;
            text-decoration: none;
            font-weight: 900;
        }
    }
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: .5rem;
        padding: .3rem 1rem;
        max-height: 75vh;
        overflow-y: scroll;
        .item{
            margin: auto;
            background-color: white;
            width: 100%;
            text-align: center;
            display: flex;
            font-size:2rem;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            color: white;
            height: 19vh;
            box-shadow: 0px 0px 12px -5px #00000052;
            background-image: url('/img/illustrations/background-card.svg');
            background-position: center center;
            background-size: 70%;
            background-repeat: no-repeat;
            h1{
                display: none;
            }
            &.active{
                h1{
                    display: block;
                }
                background-image: none;
                color: var(--primary-color);
            }
            &.complete{
                color: var(--purple);
            }
        }
    }

    footer{
        height: 15vh;
        background: var(--primary-color);
        width: 100vw;
        display: flex;
        padding: .5rem;
        justify-content: space-between;
        button{
            padding: .5rem;
            background: var(--primary-color);
            color: white;
            border: none;
            border-radius: 15px;
            font-weight: 600;
            cursor: pointer;
            &.disabled{
                opacity: .4;
            }
            &.left, &.next{
                background: var(--purple);
            }
           }
    }
}