.home-screen{
    width: 100vw;
    min-height: 100vh;
    padding: 2rem;
    text-align: center;
    background: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 3rem;
        margin-top: 1rem;
    }
    h2{
        margin-bottom: 1rem;
        font-weight: 400;
        line-height: 150%;
    }
    img.home-screen-illustration{
        max-width: 70%;
    }

    .contain-buttons{
        display: flex;
        justify-content: space-around;
        margin-top:1rem;
        .button-home-screen{
            color: white;
            background: var(--purple);
            padding: 1rem;
            text-decoration: none;
            border-radius: 15px;
            font-size: 1rem;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            margin: .3rem;
            text-align: center;
            img{
                width: 1.5rem;
                margin-bottom: .5rem;
            }
            &:first-child{
                background: var(--primary-light-color);
                &:hover{
                    background: #ff922d;
                }
            }
            transition: background .25s ease;
            &:hover{
                background: #8870e4;
            }
        }
    }
    @media screen and (min-width:798px){
        section{
            width: 30vw;
            // margin: auto;
        }
        
    }
}