@charset "utf-8";
// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

:root{
    --primary-color: #FF7A00;
    --primary-light-color:#FF891C;
    --purple:#886AFF;
}
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body {
   .container {
        display: flex;
        width: 100vw;
        min-height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }
    h1{
        font-weight: 900;
    }
}